<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PROG36859_LAB3_991360218_RichardTran/src/IntefaceAbstractClassTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IntefaceAbstractClassTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PROG36859_LAB3_991360218_RichardTran"/>
</launchConfiguration>
